<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thenameless">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".model.Namelesser"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VerifyPhoneNumber"></activity>
        <activity android:name=".EnterPhoneNumber" />
        <activity android:name=".EditProduct" />
        <activity android:name=".ShowFavourites" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".MyProductList" />
        <activity android:name=".AccountDetails" />
        <activity android:name=".ProductPreview" />
        <activity android:name=".ParticularTypeActivity" />
        <activity android:name=".AddPriceActivity" />
        <activity android:name=".AddImageActivity" />
        <activity android:name=".AddDetailsActivity" />
        <activity android:name=".ProductTypesListActivity" />
        <activity android:name=".HomePage" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>